.feedback-btn {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  z-index: 5;
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #907450;
  border-radius: 50%;
  transition: 0.3s all;
  svg {
    width: 50%;
    height: 50%;
  }
  &:hover {
    background: darken(#907450, 5%);
  }
}

@media (max-width: 480px) {
  .feedback-btn {
    width: 4rem;
    height: 4rem;
  }
}