// Прижать футер к низу страницы
html, body, .wrapper {
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
}
.footer {
  margin-top: auto;
}

body {
  .main, .footer {
    transition: 0.4s filter;
  }
  &.body--lock {
    overflow: hidden;
    .main, .footer {
      filter: blur(0.3rem) brightness(0.7);
    }
  }
}

img {
  max-width: 100%;
}

form {
  input, select {
    &:hover, &:active, &:focus {
      outline: none;
      border: none;
    }
  }
}