/* Manrope */
@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope/Manrope-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope/Manrope-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope/Manrope-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* PT Sans Caption */
@font-face {
  font-family: 'PT Sans Caption';
  src: url('../fonts/PT-Sans-Caption/PTSansCaption-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans Caption';
  src: url('../fonts/PT-Sans-Caption/PTSansCaption-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* Poppins */
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* Raleway */
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway/Raleway-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway/Raleway-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway/Raleway-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway/Raleway-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway/Raleway-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}



// 
$basicFontSize: 16px;
$basicFontColor: #3D565F;

html, body {
  font-family: 'Raleway', sans-serif;
  font-size: 0.833333vw;
  font-weight: 500;
  line-height: normal;
  color: $basicFontColor;
}

@media (max-width: 991px) {
  html, body {
    font-size: 1.1vw;
  }
}

@media (max-width: 480px) {
  html, body {
    // font-size: calc(12px + 12 * (100vw - 320px) / 480);
    font-size: 3.33333vw;
  }
}