.home-page {
  background: #fff;
}

// =========================
// hero-section
// =========================
.hero-section {
  position: relative;
  overflow-x: hidden;
  .bg {
    height: 54rem;
  }
  &__container {
    position: relative;
    z-index: 2;
    padding-top: 13.75rem;
    padding-bottom: 4.56rem;
  }
  &__row {
    display: flex;
    column-gap: 1.5rem;
    &:not(:last-child) {
      margin-bottom: 7.44rem;
    }
  }
  &__content {
    flex: 1 0 52rem;
  }
  &__title {
    font-size: 7.25rem;
    font-weight: 900;
    text-transform: uppercase;
    color: $primaryColor;
    &:not(:last-child) {
      margin-bottom: 2.63rem;
    }
  }
  &__text {
    @extend %flex-column;
    gap: 1.5rem;
    font-family: "PT Sans Caption", sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    color: #fff;
    &:not(:last-child) {
      margin-bottom: 2.94rem;
    }
    b, strong {
      font-weight: inherit;
    }
  }
  &__image {
    position: relative;
    flex: 0 0 34.375rem;
    height: 0;
    padding-bottom: 44.9375rem;
    border-radius: 1.25rem;
    overflow: hidden;
    img {
      position: absolute;
      top: 0;
      left: 0;
      @extend %stretch-image;
    }
  }
  &__partners-list {
    & + .hero-section__partners-list {
      margin-top: 1.51rem;
    }
  }
  @media (min-width: 481px) {
    &__btn {
      display: none;
    }
  }
}

@media (max-width: 480px) {
  .hero-section {
    .bg {
      height: 54rem;
    }
    &__container {
      padding-top: 5rem;
      // padding-bottom: 4.56rem;
    }
    &__row {
      gap: 0;
      &:not(:last-child) {
        margin-bottom: 3.5rem;
      }
    }
    &__content {
      flex: 0 0 100%;
      max-width: 100%;
    }
    &__title {
      position: relative;
      font-size: 5rem;
      &:not(:last-child) {
        margin-bottom: 20rem;
      }
      &::after {
        content: '';
        position: absolute;
        top: calc(100% + 1rem);
        left: 0;
        transform: translateX(50%);
        z-index: 3;
        width: 1.3rem;
        height: 19rem;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='226' viewBox='0 0 16 226' fill='none'%3E%3Cpath d='M7.29288 225.707C7.68341 226.098 8.31657 226.098 8.7071 225.707L15.0711 219.343C15.4616 218.953 15.4616 218.319 15.0711 217.929C14.6805 217.538 14.0474 217.538 13.6568 217.929L7.99999 223.586L2.34314 217.929C1.95261 217.538 1.31945 217.538 0.928923 217.929C0.538398 218.319 0.538398 218.953 0.928923 219.343L7.29288 225.707ZM7 -4.37114e-08L6.99999 225L8.99999 225L9 4.37114e-08L7 -4.37114e-08Z' fill='%237AC143'/%3E%3C/svg%3E") no-repeat center / contain;
      }
    }
    &__text {
      position: relative;
      z-index: 2;
      padding: 1.5rem 0px 3rem;
      gap: 1.3rem;
      font-size: 1.25rem;
      &:not(:last-child) {
        margin-bottom: 2.5rem;
      }
      &::before, &::after {
        content: '';
        position: absolute;
        left: 50%;
        z-index: -1;
        width: 110%;
      }
      &::before {
        bottom: 99%;
        transform: translateX(-50%);
        height: 3rem;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' width='361' height='46' viewBox='0 0 361 46' fill='none'%3E%3Cpath d='M1 1.5V45.5H360L1 1.5Z' fill='%233D565F' stroke='%233D565F'/%3E%3C/svg%3E") no-repeat center / 100% 100%;
      }
      &::after {
        content: '';
        top: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        background: $secondaryColor;
      }
      b, strong {
        color: $primaryColor;
      }
    }
    &__btn {
      width: 100%;
      margin-top: 2.5rem;
    }
    &__image {
      flex: 0 0 19rem;
      padding-bottom: 28rem;
      transform: translate(-95%, 35%);
      border-radius: 0;
    }
    &__partners-list {
      & + .hero-section__partners-list {
        display: none;
      }
    }
  }
}





// =========================
// help-section
// =========================
.help-section {
  overflow: hidden;
  &__container {
    padding-top: 4.56rem;
    display: flex;
    gap: 1.4rem;
  }
  &__left {
    flex: 0 0 38.98%;
  }
  &__section-title {
    font-size: 4rem;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
    color: $primaryColor;
    &:not(:last-child) {
      margin-bottom: 2.31rem;
    }
  }
  &__image {
    width: 100%;
    height: 0;
    padding-bottom: 19.4375rem;
    border-radius: 1.25rem;
    overflow: hidden;
  }
}

@media (max-width: 480px) {
  .help-section {
    &__container {
      padding-top: 0;
      flex-direction: column;
      gap: 1.25rem;
    }
    &__left {
      flex: 0 0 100%;
    }
    &__section-title {
      font-size: 3rem;
      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
    &__image {
      display: none;
    }
  }
}





// =========================
// mind-section
// =========================
.mind-section {
  position: relative;
  background-size: cover;
  background-position-y: 100%;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(0,70,156,0) 100%);
  }
  &__container {
    padding-top: 17.81rem;
    padding-bottom: 6.31rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__section-title {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: normal;
    color: #fff;
    text-align: center;
    &:not(:last-child) {
      margin-bottom: 7.19rem;
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    gap: 1.88rem;
    width: 45.0625rem;
    max-width: 100%;
    margin: 0 auto;
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
    text-align: center;
  }
}

@media (max-width: 991px) {
  .mind-section {
    background-size: 150%;
    background-position: center 80%;
  }
}

@media (max-width: 480px) {
  .mind-section {
    background-size: 350%;
    background-position: center 95%;
    &__container {
      padding-top: 12.37rem;
      padding-bottom: 4.69rem;
    }
    &__section-title {
      font-size: 2rem;
      &:not(:last-child) {
        margin-bottom: 5.06rem;
      }
    }
    &__text {
      gap: 1.88rem;
      font-size: 1.25rem;
    }
  }
}





// =========================
// role-section
// =========================
.role-section {
  background: $secondaryColor;
  &__container {
    padding-top: 7.75rem;
    padding-bottom: 6.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__list {
    flex: 0 0 50.43%;
  }
  &__image {
    position: relative;
    flex: 0 0 43.31%;
  }
}

@media (max-width: 480px) {
  .role-section {
    &__container {
      padding-top: 3rem;
      padding-bottom: 5rem;
      flex-direction: column-reverse;
      gap: 3rem;
    }
    &__list {
      flex: 0 0 50.43%;
    }
    &__image {
      flex: 0 0 43.31%;
    }
  } 
}





// =========================
// process-section
// =========================
.process-section {
  overflow: hidden;
  &__container {
    padding-top: 12.56rem;
    padding-bottom: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__content-wrapper {
    flex: 0 0 100%;
  }
  &__section-title {
    &:not(:last-child) {
      margin-bottom: 2.81rem;
    }
  }
  &__cards {
    position: relative;
    z-index: 4;
    width: 80%;
  }
  &__image {
    flex: 0 0 21.125rem;
    height: 36.0625rem;
    margin-top: -11rem;
    transform: translate(-100%);
  }
}

@media (max-width: 480px) {
  .process-section {
    &__container {
      padding-top: 5rem;
      padding-bottom: 2.5rem;
    }
    &__content-wrapper {
      width: 100%;
    }
    &__content {
      position: relative;
      z-index: 2;
    }
    &__section-title {
      &:not(:last-child) {
        margin-bottom: 2.81rem;
      }
    }
    &__cards {
      width: 59.12%;
    }
    &__image {
      flex: 0 0 15rem;
      height: 20.625rem;
      margin-top: -7rem;
      transform: translateX(-85%);
    }
  }
}





// =========================
// process2-section
// =========================
.process2-section {
  &__container {
    padding-top: 4rem;
    padding-bottom: 6.25rem;
    border-bottom: 0.0625rem solid #D4DDE0;
  }
  &__section-title {
    &:not(:last-child) {
      margin-bottom: 2.75rem;
    }
  }
  &__row {
    display: flex;
    gap: 2.44rem;
  }
  &__tabs {
    width: calc(50% - 1.22rem);
  }
}

@media (max-width: 480px) {
  .process2-section {
    &__container {
      padding-top: 2rem;
      padding-bottom: 4.75rem;
    }
    &__section-title {
      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
    &__row {
      flex-direction: column;
      gap: 4.75rem;
    }
    &__tabs {
      width: 100%;
    }
  }
}





// =========================
// contacts-section
// =========================
.contacts-section {
  &__container {
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
    display: flex;
    gap: 1rem;
  }
  &__section-title {
    font-size: 4rem;
    font-weight: 900;
    line-height: normal;
    color: $primaryColor;
    text-transform: uppercase;
    &:not(:last-child) {
      margin-bottom: 3.12rem;
    }
  }
  &__btn {
    width: 22.0625rem;
    max-width: 100%;
  }
  &__contacts {
    flex: 0 0 50.875rem;
    padding: 1.75rem 3.13rem;
    border-radius: 1.25rem;
    border: 0.0625rem solid $primaryColor;
  }
  &__employees-list {
    &:not(:last-child) {
      margin-bottom: 4.12rem;
    }
  }
  &__contacts-row {
    display: flex;
    align-items: flex-end;
    gap: 2.69rem;
  }
}

@media (max-width: 480px) {
  .contacts-section {
    &__container {
      padding-top: 4rem;
      padding-bottom: 3rem;
      flex-direction: column;
      gap: 3rem;
    }
    &__section-title {
      font-size: 3.25rem;
      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
    &__btn {
      width: 100%;
      font-size: 2rem;
      line-height: 150%;
    }
    &__contacts {
      flex: 0 0 100%;
      padding: 1.25rem;
    }
    &__employees-list {
      &:not(:last-child) {
        margin-bottom: 2.31rem;
      }
    }
    &__contacts-row {
      flex-direction: column;
      align-items: flex-start;
      gap: 1.35rem;
    }
  }
}