.cards {
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.4rem;
    transition: 0.5s all;
    @media (min-width: 481px) {
      transform: none !important;
    }
  }
  &__item {
    @extend %flex-column;
    justify-content: space-between;
    gap: 1.31rem;
    width: 16.375rem;
    padding: 1.12rem;
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 400;
    line-height: 1.3125rem;
    background: #F6F6F6;
    border-radius: 1.25rem;
    b, strong {
      font-family: "Raleway", sans-serif;
      font-size: 1.5rem;
      font-weight: 800;
      line-height: normal;
      text-transform: uppercase;
    }
  }
  &__pagination {
    display: none;
  }

  &--v2 {
    .cards__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1.5rem;
    }
    .cards__item {
      justify-content: center;
      width: 25.375rem;
      min-height: 9.375rem;
      padding: 2.06rem 1.87rem;
      background: transparent;
      border: 0.0625rem solid $primaryColor;
      border-radius: 1.25rem;
      font-family: "Raleway", sans-serif;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: normal;
      @media (min-width: 481px) {
        transition: 1s all;
        &.--glowing {
          background: $primaryColor;
          color: #fff;
        }
      }
    }
  }

  &--v3 {
    counter-reset: list;
    gap: 1.25rem;
    .cards__item {
      justify-content: flex-start;
      flex: 0 0 16.1225rem;
      padding: 0;
      @extend %flex-column;
      gap: 0;
      font-size: 1.25rem;
      line-height: normal;
      background: transparent;
      &::before {
        content: counter(list);
        counter-increment: list;
        font-family: "Raleway", sans-serif;
        font-size: 4rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        color: $primaryColor;
        text-transform: uppercase;
      }
      &:not(:last-child) {
        .cards__item-inner {
          flex-grow: 1;
          padding-right: 0.56rem;
          border-right: 0.0625rem solid #D4DDE0;
        }
      }
      b, strong {
        font-size: inherit;
        font-weight: 700;
        text-transform: none;
      }
    }
  }
}

@media (max-width: 480px) {
  .cards {
    &__list {
      flex-wrap: nowrap;
    }
    &__item {
      flex: 0 0 18rem;
      max-width: 100%;
    }
    &__pagination {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.25rem;
      &:not(:first-child) {
        margin-top: 1.5rem;
      }
      &-item {
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        background: #D4DDE0;
        transition: 0.4s all;
        &.--active {
          width: 1rem;
          border-radius: 0.4375rem;
          background: $secondaryColor;
        }
      }
    }

    &--v2 {
      .cards__list {
        display: flex;
        gap: 0.88rem;
      }
      .cards__item {
        flex: 0 0 92.06%;
        min-height: 9.375rem;
        padding: 2.9375rem 1.875rem;
      }
    }
    &--v3 {
      gap: 0.56rem;
      overflow: hidden;
      .cards__item {
        flex: 0 0 16.1225rem;
        font-size: 1.25rem;
        &:not(:last-child) {
          .cards__item-inner {
            padding-right: 0;
            border-right: none;
          }
        }
      }
    }
  }
}