.container {
  width: 73.23%;
  max-width: 100%;
  margin: 0 auto;
}

// @media (max-width: 1446px) {
//   .container {
//     width: 97.23%;
//     padding: 0;
//   }
// }

@media (max-width: 991px) {
  .container {
    width: 95.96%;
  }
}

@media (max-width: 360px) {
  .container {
    width: 94.44%;
  }
}

