.contacts-list {
  @extend %flex-column;
  &__link {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: normal;
    color: #3D565F;
    transition: 0.3s all;
    &:hover {
      color: $primaryColor;
    }
  }

  &--white {
    .contacts-list__link {
      color: #fff;
    }
  }
}

@media (max-width: 480px) {
  .contacts-list {
    &__link {
      font-size: 1.15rem;
    }
  }
}