.contacts-list {
  @extend %flex-column;
  &__link {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: normal;
    color: #3D565F;
    transition: 0.3s all;
    &:hover {
      color: $primaryColor;
    }
  }

  &--white {
    .contacts-list__link {
      color: #fff;
    }
  }
}