.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  transition: 0.4s all;
  &__container {
    padding-top: 1.87rem;
    padding-bottom: 1.87rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  @media (min-width: 992px) {
    &__burger-btn,
    &__contacts-list,
    &__socials-list {
      display: none;
    }
  }
}

@media (max-width: 991px) {
  .header {
    &__container {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
    &__logo {
      position: relative;
      z-index: 2;
    }
    &__mobile-wrapper {
      position: absolute;
      padding: 0 1.414% 3.14rem;
      top: 100%;
      left: 0;
      width: 100%;
      max-height: calc(100vh - 4.625rem);
      overflow: auto;
      background: $secondaryColor;
      transition: 0.4s all;
    }
    &__nav {
      &:not(:last-child) {
        margin-bottom: 3.06rem;
      }
      .nav__list {
        margin: 0 auto;
        flex-direction: column;
        align-items: stretch;
        gap: 0;
      }
      .nav__item {
        border-top: 0.0625rem solid #A7B6BF;
        &:last-child {
          border-bottom: 0.0625rem solid #A7B6BF;
        }
        &-has-child.active {
          .nav__link {
            color: $primaryColor;
            &::after {
              transform: rotateX(180deg);
              background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='19' viewBox='0 0 18 19' fill='none'%3E%3Cpath d='M14.25 7.25L9 12.5L3.75 7.25' stroke='%237AC143' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
            }
          }
        }
        &:not(&-has-child.active) {
          .nav__submenu {
            padding-top: 0;
            padding-bottom: 0;
            gap: 0;
            opacity: 0;
            visibility: hidden;
          }
          .nav__submenu-link {
            line-height: 0rem;
          }
        }
      }
      .nav__link {
        font-size: 1.125rem;
        line-height: 3.125rem;
        color: #fff;
      }
      .nav__submenu {
        position: static;
        padding: 0.5rem 1.62rem 1.5rem 1rem;
        background: transparent;
        overflow: hidden;
        &-item {
          width: auto;
          &-has-child {
            &::after {
              content: none;
            }
            > a {
              position: relative;
              &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: calc(100% + 0.5rem);
                transform: translateY(-50%) rotate(-90deg);
                width: 1.125rem;
                height: 1.125rem;
                background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='19' viewBox='0 0 18 19' fill='none'%3E%3Cpath d='M14.25 7.25L9 12.5L3.75 7.25' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") no-repeat center / contain;
                transition: inherit;
              }
            }
            &.active > .nav__submenu-link::after {
              background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='19' viewBox='0 0 18 19' fill='none'%3E%3Cpath d='M14.25 7.25L9 12.5L3.75 7.25' stroke='%237AC143' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
              transform: translateY(-50%);
            }
            &:not(.active) > .nav__submenu {
              gap: 0;
              padding-top: 0;
              padding-bottom: 0;
              opacity: 0;
              visibility: hidden;
              .nav__submenu-link {
                line-height: 0rem;
              }
            }
          }
          &:hover > .nav__submenu-link {
            color: $primaryColor;
          }
        }
        &-link {
          width: max-content;
          max-width: 100%;
          &:hover {
            color: $primaryColor;
          }
        }
      }
    }
    &__contacts-list {
      &:not(:last-child) {
        margin-bottom: 0.63rem;
      }
    }

    &--burger-active {
      background: $secondaryColor;
    }
    &:not(&--burger-active) &__mobile-wrapper {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-30%);
    }
  }
}

@media (max-width: 360px) {
  .header {
    &__container {
      padding-top: 0.63rem;
      padding-bottom: 1.06rem;
    }
    &__mobile-wrapper {
      max-height: calc(100vh - 3.2857rem);
      padding: 0 2.78% 3.14rem;
    }
  }
}