.nav {
  &__list {
    display: flex;
    align-items: center;
    gap: 2.62rem;
  }
  &__item {
    @media (hover: hover) {
      &:hover {
        .nav__link {
          color: $primaryColor;
        }
      }
    }
    &-has-child {
      position: relative;
      .nav__link {
        position: relative;
        display: flex;
        align-items: center;
        gap: 0.25rem;
        &::after {
          content: '';
          display: block;
          width: 1.125rem;
          height: 1.125rem;
          background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='19' viewBox='0 0 18 19' fill='none'%3E%3Cpath d='M14.25 7.25L9 12.5L3.75 7.25' stroke='%23B9CAD0' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") no-repeat center / contain;
          transition: inherit;
        }
      }
      @media (hover: hover) and (min-width: 992px) { 
        &:hover {
          .nav__link {
            &::after {
              transform: rotateX(180deg);
              background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='19' viewBox='0 0 18 19' fill='none'%3E%3Cpath d='M14.25 7.25L9 12.5L3.75 7.25' stroke='%237AC143' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
            }
          }
        }
        &:not(:hover) {
          .nav__submenu {
            opacity: 0;
            visibility: hidden;
            transform: translateY(-10%);
          }
        }
      }
      @media (hover: none) {
        &.active {
          .nav__link {
            color: $primaryColor;
            &::after {
              transform: rotateX(180deg);
              background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='19' viewBox='0 0 18 19' fill='none'%3E%3Cpath d='M14.25 7.25L9 12.5L3.75 7.25' stroke='%237AC143' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
            }
          }
        }
        &:not(&.active) {
          .nav__submenu {
            opacity: 0;
            visibility: hidden;
            transform: translateY(-10%);
          }
        }
      }
    }
  }
  &__link {
    font-size: 0.875rem;
    line-height: 2rem;
    color: #A7B6BF;
    transition: 0.3s all;
  }
  &__submenu {
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0.5rem 0;
    @extend %flex-column;
    gap: 0.7rem;
    background: #797e84;
    transition: 0.4s all;
    &-item {
      width: 16.25rem;
      padding: 0 1.62rem 0 1rem;
      transition: 0.3s all;
      &-has-child {
        position: relative;
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          right: 0.5rem;
          transform: translateY(-50%) rotate(-90deg);
          width: 1.125rem;
          height: 1.125rem;
          background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='19' viewBox='0 0 18 19' fill='none'%3E%3Cpath d='M14.25 7.25L9 12.5L3.75 7.25' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") no-repeat center / contain;
          transition: inherit;
        }
        &:hover::after {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='19' viewBox='0 0 18 19' fill='none'%3E%3Cpath d='M14.25 7.25L9 12.5L3.75 7.25' stroke='%237AC143' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        }
        & > .nav__submenu {
          top: 0;
          left: 100%;
          .nav__submenu-link {
            width: 100%;
            &:not(:hover) {
              color: #fff;
            }
          }
        }
        @media (hover: hover) and (min-width: 992px) {
          &:not(:hover) > .nav__submenu {
            opacity: 0;
            visibility: hidden;
            transform: translateX(-10%);
          }
        }
        @media (hover: none) and (min-width: 992px) {
          &:not(.active) > .nav__submenu {
            opacity: 0;
            visibility: hidden;
            transform: translateX(-10%);
          }
        }
      }
    }
    &-link {
      display: block;
      font-size: 0.875rem;
      color: #fff;
      transition: inherit;
    }
    &-item:hover &-link {
      color: $primaryColor;
    }
  }
}
