.partners-list {
  height: 5rem;
  background-size: auto 100%;
  &__item, &__more {
    display: none;
  }
}

// @media (min-width: 481px) {
//   #partners-list-all {
//     display: none;
//   }
// }
@media (max-width: 480px) {
  // #partners-list-1,
  // #partners-list-2 {
  //   display: none;
  // }
}