.tabs {
  display: flex;
  flex-direction: column;
  &__title {
    color: $primaryColor;
    font-size: 4rem;
    font-weight: 700;
    &:not(:last-child) {
      margin-bottom: 3.19rem;
    }
  }
  &__subtitle {
    font-size: 2rem;
    font-weight: 500;
  }
  &__btns {
    display: flex;
    gap: 2rem;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
  &__btn {
    position: relative;
    width: 4rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 0.56rem;
    font-size: 1.25rem;
    font-weight: 500;
    color: #A7B6BF;
    white-space: nowrap;
    transition: 0.4s all;
    &::before {
      content: '';
      position: relative;
      z-index: 2;
      width: 0.9375rem;
      height: 0.9375rem;
      border-radius: 50%;
      background: #D9D9D9;
      transition: inherit;
    }
    &:not(:last-child) {
      &::after {
        content: '';
        position: absolute;
        bottom: calc(0.9375rem / 2);
        left: 50%;
        transform: translateY(50%);
        z-index: 1;
        width: 6rem;
        height: 0.0625rem;
        background: #D9D9D9;
      }
    }
    &:hover {
      color: $secondaryColor;
      &::before {
        background: $secondaryColor;
      }
    }
    &.--active {
      pointer-events: none;
      color: $primaryColor;
      // font-weight: 800;
      text-shadow: 0 0 0.1rem $primaryColor;
      &::before {
        background: $primaryColor;
      }
    }
  }
  &__content-wrapper {
    overflow: hidden;
  }
  &__content-carousel {
    display: flex;
    align-items: flex-start;
    transition: 0.5s all;
  }
  &__content {
    flex: 0 0 100%;
    min-height: 4rem;
    font-size: 1.5rem;
    transition: inherit;
    &:not(.--active) {
      opacity: 0;
    }
  }
  @media (min-width: 481px) {
    &__pagination {
      display: none;
    }
  }
}


@media (max-width: 480px) {
  .tabs {
    &__title {
      font-size: 3rem;
    }
    &__subtitle {
      font-size: 1.75rem;
    }
    &__content {
      // min-height: 8.5rem;
      font-size: 1.35rem;
    }
    &__pagination {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.25rem;
      &:not(:first-child) {
        margin-top: 1.5rem;
      }
      &-item {
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        background: #D4DDE0;
        transition: 0.4s all;
        &.--active {
          width: 1rem;
          border-radius: 0.4375rem;
          background: $secondaryColor;
        }
      }
    }
  }
}